.contact-us{
    background-color: black;
    width: 100%;
    /* height: 100vh; */
    color: white;
    padding: 12% 12% 10% 12%;
    
}
.contact-us__heading{
    font-weight: 300;
    margin-bottom: 18px;
}
.contact-us__paragraph{
    margin-bottom: 15px;
}
.contact-us__all-contacts{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
}
.contact-us__all-contacts--contacts h3{
    margin-bottom: 8px;
}
.contact-us__all-contacts--contacts p{
    margin-bottom: 5px;
}