.login{
    width: 100%;
    height: 60vh;
    border:2px solid blue;
    padding:2% 15%;
    display: flex;
    gap:4%;
    align-items: stretch;
}
.login__section{
    width: 50%;
    /* height: 65vh; */
    border: 2px solid rgb(255, 0, 0);
}
.login__section--image{
    width: 100%;
    height: 100%;
}
.login__section--left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6% 0;

}
.login__heading--text{
    font-size: 34px;
    font-weight: 700;
}
.login__paragraph{
    color: rgb(125, 125, 125);
}
.login__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 2px solid limegreen;
    gap: 5px;
    row-gap: 10px;
    padding: 3% 3% 3% 0;
    height: 40%;
}
.login__form--button{
    background-color: black;
    color: white;
    width: 40%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    /* padding: 3% 5%; */
}
.login__form--signup{
    width:max-content;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    background-color: transparent;
    border: none;
    border-bottom:2px solid rgb(204, 204, 204);
    transition: 0.6s ease-in;

}
.login__form--signup:hover{
    /* width: max-content; */
    border-bottom: 2px solid black;
}
