*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.nav-bar{
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}
.nav-bar__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
    background-color: gray;
}
.nav-bar__section--left{
    width: 24%;
}
.nav-bar__section--right{
    width: 22%;
}
.nav-bar__text{
    font-size: 14px;
    font-weight: 600;   
}
.nav-bar__item:not(.--signup){
    padding: 10px;
}
.nav-bar__item:not(.--signup):hover{
    background-color: rgb(27, 31, 34);
    padding: 10px;

    border-radius: 20px;  
}
.nav-bar__text--signup{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.nav-bar__text--signup:hover{
    background-color: rgb(177, 177, 177);
}
.nav-bar__logo p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -2px;
}
.nav-bar__logo p::first-letter{
    font-size: 26px;
}
.ride-bar{
    border: 2px solid rgba(255, 0, 0, 0);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.ride-bar__section{
    border: 2px solid rgba(0, 0, 255, 0);
}
.ride-bar__text{
    border: 2px solid rgba(0, 0, 0, 0);
}
.ride-bar__ride{
    font-size: 21px;
    font-weight:700;
}
.ride-bar__section--right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap:15px;
    font-size: 12px;
    color: gray;
    letter-spacing: 1px;
}
.ride-bar__text:hover{
    color: black;
}
.request-ride{
    width: 100%;
    height: 84vh;
    border:2px solid blue;
    padding:5% 15%;
    display: flex;
    gap:10%;
    align-items: center;

}
.request-ride__section{
    width: 50%;
    /* height: 65vh; */
    border: 2px solid rgb(255, 0, 0);

}
/* .request-ride__section--right{
    border-radius:12;
} */
.request-ride__image{
    width: 100%;
    /* height: 100%; */
}
.request-ride__text{
    font-size: 50px;
    font-weight: 700;
}
.request-ride__text--u{
    letter-spacing: -2px;
}
.request-ride__text--u::first-letter{
    font-size: 70px;
}
