.suggestions{
    width: 100%;
    height: 60vh;
    border:2px solid blue;
    padding:2% 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.suggestions__title{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}
.suggestions__card{
    width: calc(100% / 3 - 10px);
    padding: 3%;
    height: max-content;
    background-color: aliceblue;
    /* display: inline-block; */
    /* margin-bottom: 8px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    position: relative;
}
.suggestions__card--title{
    font-weight: 700;
}
.suggestions__card--text{
    font-size: 12px;
    font-weight: 400;
}
.suggestions__card--button{
    border: none;
    background-color: white;
    color:black;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    padding: 4px 6px;
}
.suggestions__card--button:hover{
    background-color: rgb(237, 239, 242);
}
.suggestions__card--image{
    width: 30%;
    position: absolute;
    top:50%;
    left: 70%;
    translate: 0 -50%;
}
